.cardContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 468px;
  background-color: #efeef4;
  padding: 16px;
  position: relative;
}
.description {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #5c6970;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 8px;
}
.descriptionAct {
  color: #5c6970;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 8px;
}
.moreButton {
  border: none;
  background-color: transparent;
  color: #3625ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
.moreButton:hover {
  color: #6e08d3;
}
.images {
  width: 288px;
  height: 288px;
  object-fit: cover;
  cursor: grab;
}
.discount {
  width: 108px;
  height: 24px;
  background-color: #fff;
  color: #2e3438;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.discount span {
  color: #3625ff;
  font-size: 14px;
  font-weight: 500;
}
.rating {
  width: 62px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.title {
  color: #2e3438;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 8px;
}
.buttonPrice {
  background-color: #3625ff;
  border: none;
  border-radius: 4px;
  width: 71px;
  height: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.priceContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 16px;
}
.priceContainer span {
  color: #5c6970;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: line-through;
}
